@import url(_reset.css);

img {
  display: block;
  max-width: 100%;
}

.slides-wrapper {
  overflow: hidden;
}

.slides {
  display: flex;
}

.slides:hover {
  will-change: transform;
}

.slide {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  opacity: .8;
  overflow: hidden;
  transform: scale(.8);
  transition: .4s;
  width: 80vw;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 70vw;
}

[data-control = "slide"] {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

[data-control = "slide"] li a{
  background-color: #fb5;
  border-radius: 50%;
  display: block;
  height: 12px;
  overflow: hidden;
  width: 12px;
  text-indent: -999px;
}

[data-control = "slide"] li.active a, 
[data-control = "slide"] li a:hover {
  background-color: #e54;
}
